body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; 
  box-sizing: border-box; 
  border: 5px solid blueviolet;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  border-bottom: 5px solid blueviolet;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-module {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-module > * {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-page {
  padding: 10px;
}

#login-page > * {
  margin: 20px;
}

#partial-password-form {
  display: flex;
  align-items: center;
}

#partial-password-form > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border-radius: 5px;
  border: 3px solid #4CAF50;
  text-align: center;
  padding: 0.5em;
  font-size: 1em;
}

.partial-password-input {
  width: 1.2em;
  margin: 0.2em;
}

.partial-password-input:not([disabled]) {
  border: 3px solid #4CAF50;
  background-color: #f2f2f2;
  color: #333;
}

.partial-password-input[disabled] {
  border: 3px solid #ccc;
  background-color: gray;
  color: #999;
  cursor: not-allowed;
}

.main-action-button {
  background-color: #4CAF50;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

.warning-action-button {
  background-color: #ff9800;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

.silent-action-button {
  background-color: blueviolet;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

.secondary-action-button {
  background-color: gainsboro;
  border-radius: 5px;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

.modal-content {
  background: white;
  border: 3px solid blueviolet;
  padding: 20px;
  border-radius: 5px;
  width: 1000px;
  max-width: 700px;
  text-align: center;
}

.modal-closed  {
  display: none;
}

.modal-opened {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.error-modal-opened {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.error-modal-content {
  background: white;
  border: 3px solid red;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
}

/* HTML: <div class="spinner"></div> */
.spinner {
  position: fixed;
  top: 20%;
  left: 50%;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #4CAF50;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
  z-index:2
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

#home-page {
  display: flex;
  height: 100%;
}

#transaction-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}

.show-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.show-container > p {
  margin-right: 10px;
}

.show-container > button {
  border-radius: 5px;
  background-color: orange;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

#transaction-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  align-items: start;
  max-height: 88vh;  
  overflow-y: auto;
  border-left: 5px solid blueviolet;
}

#transaction-list > *{
  border-bottom: 2px solid blueviolet;
  width: 100%;
}

#transaction-list-title {
  position: sticky;
  top: 0;
  margin: 0px;
  padding-left: 10px;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 5px solid blueviolet;
  background-color: white;
  box-shadow: 0 4px 2px -2px gray;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-item > h1 {
  padding-right: 10px;
}

.transaction-item-info {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#transaction-form > *{
  margin-bottom: 5px;
}

.transaction-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-field > input {
  width: 400px;
}

#transaction-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

#client-details-page > * {
  display: flex;
  border-bottom: 2px solid blueviolet;
  padding: 10px;
}

#client-details-page > * > * {
  margin-right: 16rem;
}